/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
  padding-bottom: 30px;

}
.jumbotron{
  text-align: center;
}


/* Don't let the lead text change font-size. */
.lead {
  font-size: 18px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}
#evaluate{
  padding: .7em;
  font-size: 1.8em;
  margin: .3em;
}
